@model Naras_Kitchen.ViewModels.CreateRecipeViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>CreateRecipeViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Title" class="control-label"></label>
                <input asp-for="@Model.Title" class="form-control" />
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Directions" class="control-label"></label>
                <input asp-for="@Model.Directions" class="form-control" />
                <span asp-validation-for="@Model.Directions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Description" class="control-label"></label>
                <input asp-for="@Model.Description" class="form-control" />
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ImageUrl" class="control-label"></label>
                <input asp-for="@Model.ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            <a class="btn btn-success" onclick="addIngred()">+</a> <b>Add Ingredient</b>
            <div id="ingredientsContainer">

                 @*
                <div class="form-group ingredientFormGroup">
                    <label asp-for="@Model.Ingredients[0].Name" class="control-label"></label>
                    <input asp-for="@Model.Ingredients[0].Name" class="form-control" />
                    <span asp-validation-for="@Model.Ingredients[0].Name" class="text-danger"></span>

                    <label asp-for="@Model.Ingredients[0].Quantity" class="control-label"></label>
                    <input asp-for="@Model.Ingredients[0].Quantity" class="form-control" />
                    <span asp-validation-for="@Model.Ingredients[0].Quantity" class="text-danger"></span>
                </div>
               
                <div class="form-group ingredientFormGroup">
                    <label asp-for="@Model.Ingredients[1].Name" class="control-label"></label>
                    <input asp-for="@Model.Ingredients[1].Name" class="form-control" />
                    <span asp-validation-for="@Model.Ingredients[1].Name" class="text-danger"></span>
                    <label asp-for="@Model.Ingredients[1].Quantity" class="control-label"></label>
                    <input asp-for="@Model.Ingredients[1].Quantity" class="form-control" />
                    <span asp-validation-for="@Model.Ingredients[1].Quantity" class="text-danger"></span>
                </div>
                <div class="form-group ingredientFormGroup">
                    <label asp-for="@Model.Ingredients[2].Name" class="control-label"></label>
                    <input asp-for="@Model.Ingredients[2].Name" class="form-control" />
                    <span asp-validation-for="@Model.Ingredients[1].Name" class="text-danger"></span>
                    <label asp-for="@Model.Ingredients[2].Quantity" class="control-label"></label>
                    <input asp-for="@Model.Ingredients[2].Quantity" class="form-control" />
                    <span asp-validation-for="@Model.Ingredients[1].Quantity" class="text-danger"></span>
                </div>*@
            </div>

            <div class="form-group">
                <label asp-for="@Model.Country" class="control-label"></label>
                <input asp-for="@Model.Country" class="form-control" />
                <span asp-validation-for="@Model.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Type" class="control-label"></label>
                <input asp-for="@Model.Type" class="form-control" />
                <span asp-validation-for="@Model.Type" class="text-danger"></span>
            </div>

            <div class="form-group">

                <input type="submit" asp-route-id="@Model.Id" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>


    function addIngred(){

        var container = document.getElementById("ingredientsContainer");
        var index = document.getElementsByClassName("ingredientFormGroup").length;

        var ingredient = document.createElement("div");
        ingredient.className = "ingredientFormGroup";
        var label = document.createElement("label");
        label.for = "Ingredients_0__Name";
        label.innerText = "Name";
        label.style.color = "Green";
        label.style.fontStyle = "Italic";
        label.className = "control-label";
        var input = document.createElement("input");
     
        input.className = "form-control";
        input.type = "text";
        input.id = "Ingredients_0__Name";
        input.name = "Ingredients[" + (index).toString() + "].Name"
        
        console.log (input.name)

         var label2 = document.createElement("label");
        label2.for = "Ingredients_0__Quantity";
        label2.innerText = "Quantity";
        label2.style.color = "Grey";
        label2.style.fontStyle = "Italic";
      
        label2.className = "control-label";
        var input2 = document.createElement("input");
       
        input2.className = "form-control";
        input2.type = "text";
        input2.id = "Ingredients_0__Quantity";//ova go vidov od inspect
        input2.name = "Ingredients[" + (index).toString() + "].Quantity"


        ingredient.appendChild(label);
        ingredient.appendChild(input);
        ingredient.appendChild(label2);
        ingredient.appendChild(input2);
        container.appendChild(ingredient);



  }


    //function convertToString() {
    //    //var t = e.target;
    //    var ingredients = [];
    //    var table = document.getElementById("table");
    //    var totalRowCount = table.rows.length;

    //    var currentRow = table.firstElementChild.nextElementSibling.firstElementChild;
    //    for (var i = 1; i < totalRowCount; i++) {
    //        ingredients = ingredients + currentRow.firstElementChild.nextElementSibling.firstElementChild.value.toString() + "-" + currentRow.firstElementChild.nextElementSibling.nextElementSibling.firstElementChild.value.toString() + ';'
    //        currentRow = currentRow.nextElementSibling;
    //    }



    //    console.log(ingredients);

    //    var elem = document.getElementById("s1");
    //    elem.value = ingredients;
    //    //t.style.color = "yellow"
    //    //t.innerText = "Finished!"
    //}
</script>



